[build]
  command = "npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"
  # Using the default bundler which is better at following relative paths
  node_bundler = "zisi" 
  included_files = ["backend/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
